# Local Development & Testing Environment Configuration Example
VITE_ENABLE_TEST_QUICK_FILL=true

# -- MSG91 Custom Web SDK (Browser Client Configuration) ------------------------
VITE_MSG91_WIDGET_ID=366943675531343835333836
VITE_MSG91_WIDGET_TOKEN=576374TzwYf7Lbdh2L6abb8584P1

